/* ödev */

body {
    background-color: rgb(171, 195, 228);
    font-family: 'Beau Rivage', cursive;
}

.ortala { 
    margin:0 auto;
    text-align:center; 
}

.soltarafa { 
    margin:0 auto;
    text-align:right; 
}
.text-color {
    color: rgb(107, 105, 103);
}

.fs-30 {
   font-size: 30px;
}
.fs-20 {
    font-size: 20px;
 }
.fs-25 {
    font-size: 25px;
 }
 